@tailwind base;
@tailwind components;
@tailwind utilities;

.homepage {
    /* background-image: url("./assets/images/mass-people-concert.png"); */
    background-color: #1C1E31;
    background-repeat: no-repeat, repeat;
    background-position: center bottom;
    background-size: cover;
}

.nav {
    box-shadow: -1px 8px 16px -3px rgba(17,17,31,0.75);
-webkit-box-shadow: -1px 8px 16px -3px rgba(17,17,31,0.75);
-moz-box-shadow: -1px 8px 16px -3px rgba(17,17,31,0.75);
}
input, select, textarea{
    color: #000000;
}

input::placeholder{
    color: gray;
}

ul.nav li:hover {
    background: rgba(50, 224, 196, 0.15);
  }
  ul.nav li.active {
    background: #EC265D;
    color: black;
  }